n8n/join-issue-collector.dummy.json
{
  "name": "Join - Issue Collector Komplett (Dummy)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "join-status-update",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -656,
        688
      ],
      "id": "61808aae-7cb5-4140-a430-e5a96901d380",
      "name": "Webhook (Status Update)",
      "webhookId": "YOUR_WEBHOOK_ID"
    },
    {
      "parameters": {
        "fromEmail": "deine-email@beispiel.de",
        "toEmail": "={{ $json.body.creator }}",
        "subject": "={{ 'Status-Update für dein Ticket: ' + $json.body.title }}",
        "text": "={{ 'Hallo ' + ($json.body.creatorName || '') + ',\\n\\nder Status deines Tickets \"' + $json.body.title + '\" hat sich geändert.\\n\\nNeuer Status: ' + $json.body.newStatus + '\\n\\nViele Grüße,\\nDein Join-Team' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        -480,
        688
      ],
      "id": "fd0f5376-ee1d-4759-937a-cf018d2a01ac",
      "name": "Send Status Email",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "format": "resolved",
        "options": {
          "trackLastMessageId": true
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -656,
        368
      ],
      "id": "4ab175e6-2483-4724-a92f-754cdb3c611b",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "YOUR_IMAP_CREDENTIAL_ID",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://YOUR-FIREBASE-PROJECT.europe-west1.firebasedatabase.app/daily_limits/' + $now.toFormat('yyyy-MM-dd') + '.json' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auth",
              "value": "YOUR_FIREBASE_AUTH_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -432,
        368
      ],
      "id": "26eaed6a-5d39-4672-b139-11c4ae204951",
      "name": "Firebase: Check Limit"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count || 0 }}",
              "value2": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -208,
        368
      ],
      "id": "430203f0-5ebf-42ff-a0c0-cb137fd78052",
      "name": "Check Daily Ticket Limit < 10"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bist ein technischer Projektmanager für das Kanban-Board \"Join\". Analysiere den E-Mail-Text und extrahiere die Daten in JSON.\n\nWICHTIG: Prüfe zuerst, ob das Anliegen relevant für das Projekt \"Join\" oder ein IT-spezifisches To-Do ist. Ignoriere Spam, Blödsinn oder völlig irrelevante Themen.\n\nE-Mail Betreff: {{ $('Email Trigger (IMAP)').item.json.subject }}\nE-Mail Text: {{ $('Email Trigger (IMAP)').item.json.text }}\nHeutiges Datum: {{ $now.toFormat('yyyy-MM-dd') }}\n\nGib exakt dieses JSON-Format zurück:\n{\n  \"isRelevant\": \"true oder false (false bei Spam, Blödsinn oder irrelevanten Themen)\",\n  \"title\": \"Prägnanter Titel\",\n  \"category\": \"technischer Task, User Story/Feature, oder Bug Request\",\n  \"priority\": \"urgent, medium, oder low\",\n  \"deadline\": \"Deadline im Format yyyy-MM-dd falls vorhanden, sonst das morgige Datum (heute + 1 Tag)\",\n  \"description\": \"Fasse das Anliegen zusammen. Füge am Ende hinzu: 'Dieses Ticket wurde KI-generiert'\",\n  \"creatorName\": \"Name des Erstellers, falls aus der E-Mail (z. B. Signatur oder Name des Senders) ableitbar, sonst null\"\n}\n\nGib NUR das JSON aus.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        48,
        256
      ],
      "id": "c12b7e66-c87c-499d-80fc-f249cc95162d",
      "name": "Analyze Email & Extract JSON (AI)"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        48,
        400
      ],
      "id": "fa3c4ed7-1c46-41ee-9c16-fed7fdfb465d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_API_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.all()[0].json.text;\nlet cleanText = rawText.replace(/```json/gi, '').replace(/```/gi, '').trim();\nconst aiOutput = JSON.parse(cleanText);\n\nif (aiOutput.isRelevant === false || aiOutput.isRelevant === \"false\") {\n  return [];\n}\n\nlet emailSender = \"unknown\";\ntry {\n  const fromData = $('Email Trigger (IMAP)').first().json.from;\n  emailSender = fromData.value[0].address || fromData.address || fromData;\n} catch(e) {}\n\nlet emailReceiver = \"deine-email@beispiel.de\";\ntry { emailReceiver = $('Email Trigger (IMAP)').first().json.to.value[0].address; } catch(e) {}\n\nreturn {\n  title: aiOutput.title,\n  category: aiOutput.category,\n  priority: aiOutput.priority,\n  deadline: aiOutput.deadline,\n  description: aiOutput.description,\n  creator: emailSender,\n  creatorName: aiOutput.creatorName || \"Externer Benutzer\",\n  receiver: emailReceiver,\n  creatorType: \"extern\",\n  status: \"triage\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        256
      ],
      "id": "91b3463a-4e02-4ace-9898-58a3a890e725",
      "name": "Format Ticket Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-FIREBASE-PROJECT.europe-west1.firebasedatabase.app/tasks.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auth",
              "value": "YOUR_FIREBASE_AUTH_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "deadline",
              "value": "={{ $json.deadline }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "creator",
              "value": "={{ $json.creator }}"
            },
            {
              "name": "creatorName",
              "value": "={{ $json.creatorName }}"
            },
            {
              "name": "creatorType",
              "value": "={{ $json.creatorType }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            },
            {
              "name": "receiver",
              "value": "={{ $json.receiver }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        576,
        256
      ],
      "id": "065f5f77-78e1-43e6-bc0f-974d492499f5",
      "name": "Firebase: Save Ticket"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://YOUR-FIREBASE-PROJECT.europe-west1.firebasedatabase.app/daily_limits/' + $now.toFormat('yyyy-MM-dd') + '.json' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auth",
              "value": "YOUR_FIREBASE_AUTH_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"count\": {{ ($('Firebase: Check Limit').item.json.count || 0) + 1 }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        800,
        256
      ],
      "id": "7aaa5cd4-bddf-48cf-aa1f-6d89ebac02f4",
      "name": "Firebase: Increment Daily Ticket Count"
    },
    {
      "parameters": {
        "fromEmail": "deine-email@beispiel.de",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.from.address }}",
        "subject": "Tageslimit erreicht - Ticket nicht erstellt",
        "text": "Leider haben wir für heute das Limit für neue automatische Tickets erreicht. Dein Anliegen konnte daher nicht in das Join Kanban-Board übernommen werden. Bitte versuche es morgen noch einmal!",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        64,
        576
      ],
      "id": "3e0e5a86-ba5e-45ec-9e6b-bd0c83cf40a2",
      "name": "Limit Reached (Send Email)",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "deine-email@beispiel.de",
        "toEmail": "={{ $('Format Ticket Data').first().json.creator || 'deine-email@beispiel.de' }}",
        "subject": "={{ 'Ticket erfolgreich erstellt: ' + ($('Format Ticket Data').first().json.title || 'Unbekannt') }}",
        "text": "={{ 'Hallo,\\n\\ndein Anliegen wurde erfolgreich als Ticket in unserem Join Kanban-Board angelegt.\\n\\nTitel: ' + ($('Format Ticket Data').first().json.title || 'Unbekannt') + '\\nKategorie: ' + ($('Format Ticket Data').first().json.category || 'Unbekannt') + '\\n\\nViele Grüße,\\nDein Join-Team' }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1024,
        256
      ],
      "id": "48a3fb79-61b2-46e6-b532-7bb37689dea1",
      "name": "Ticket Created (Send Email)",
      "webhookId": "YOUR_WEBHOOK_ID",
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "SMTP account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook (Status Update)": {
      "main": [
        [
          {
            "node": "Send Status Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Firebase: Check Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firebase: Check Limit": {
      "main": [
        [
          {
            "node": "Check Daily Ticket Limit < 10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Daily Ticket Limit < 10": {
      "main": [
        [
          {
            "node": "Analyze Email & Extract JSON (AI)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit Reached (Send Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Email & Extract JSON (AI)": {
      "main": [
        [
          {
            "node": "Format Ticket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Analyze Email & Extract JSON (AI)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Ticket Data": {
      "main": [
        [
          {
            "node": "Firebase: Save Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firebase: Save Ticket": {
      "main": [
        [
          {
            "node": "Firebase: Increment Daily Ticket Count",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firebase: Increment Daily Ticket Count": {
      "main": [
        [
          {
            "node": "Ticket Created (Send Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e7e76d37-64fd-4af9-aee1-e7f4e56e34cd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "tWJT2VoiaxOF0TFb",
  "tags": []
}