n8n/join-issue-collector.dummy.json
{
  "name": "Join - Issue Collector Komplett (Dummy)",
  "nodes": [
    {
      "parameters": {
        "format": "resolved",
        "options": {
          "trackLastMessageId": true
        }
      },
      "type": "n8n-nodes-base.emailReadImap",
      "typeVersion": 2.1,
      "position": [
        -624,
        32
      ],
      "id": "4c43b365-2759-45f8-afb7-4b728282d944",
      "name": "Email Trigger (IMAP)",
      "credentials": {
        "imap": {
          "id": "YOUR_IMAP_CREDENTIAL_ID",
          "name": "IMAP account"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ 'https://YOUR-FIREBASE-PROJECT.europe-west1.firebasedatabase.app/daily_limits/' + $now.toFormat('yyyy-MM-dd') + '.json' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auth",
              "value": "YOUR_FIREBASE_AUTH_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -400,
        32
      ],
      "id": "01f97224-464b-4c5e-bb1a-311f0acdfa84",
      "name": "Firebase: Check Limit"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.count || 0 }}",
              "value2": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -176,
        32
      ],
      "id": "7193bed6-4d7b-4f0c-bd56-aa887818d498",
      "name": "Limit < 10?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Du bist ein technischer Projektmanager für das Kanban-Board \"Join\". Analysiere den E-Mail-Text und extrahiere die Daten in JSON.\n\nE-Mail Betreff: {{ $('Email Trigger (IMAP)').item.json.subject }}\nE-Mail Text: {{ $('Email Trigger (IMAP)').item.json.text }}\n\nGib exakt dieses JSON-Format zurück:\n{\n  \"title\": \"Prägnanter Titel\",\n  \"category\": \"technischer Task, User Story/Feature, oder Bug Request\",\n  \"priority\": \"urgent, medium, oder low\",\n  \"deadline\": \"Deadline falls vorhanden, sonst null\",\n  \"description\": \"Fasse das Anliegen zusammen. Füge am Ende hinzu: 'Dieses Ticket wurde KI-generiert'\"\n}\n\nGib NUR das JSON aus.",
        "hasOutputParser": true
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        80,
        -80
      ],
      "id": "7786ef37-ea6f-4b8b-9e6b-b89086f9c371",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        64
      ],
      "id": "4c2c03eb-5924-42da-88ad-3ad1d93bac2d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "YOUR_GOOGLE_GEMINI_API_CREDENTIAL_ID",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.all()[0].json.text;\nlet cleanText = rawText.replace(/```json/gi, '').replace(/```/gi, '').trim();\nconst aiOutput = JSON.parse(cleanText);\n\nconst emailSender = $('Email Trigger (IMAP)').first().json.from.address;\n\nreturn {\n  title: aiOutput.title,\n  category: aiOutput.category,\n  priority: aiOutput.priority,\n  deadline: aiOutput.deadline,\n  description: aiOutput.description,\n  creator: emailSender,\n  creatorType: \"extern\",\n  status: \"triage\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        -80
      ],
      "id": "d5a10b8c-e44b-4782-a75d-29cb355ab3ed",
      "name": "Format Ticket Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://YOUR-FIREBASE-PROJECT.europe-west1.firebasedatabase.app/tasks.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auth",
              "value": "YOUR_FIREBASE_AUTH_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "category",
              "value": "={{ $json.category }}"
            },
            {
              "name": "priority",
              "value": "={{ $json.priority }}"
            },
            {
              "name": "deadline",
              "value": "={{ $json.deadline }}"
            },
            {
              "name": "description",
              "value": "={{ $json.description }}"
            },
            {
              "name": "creator",
              "value": "={{ $json.creator }}"
            },
            {
              "name": "creatorType",
              "value": "={{ $json.creatorType }}"
            },
            {
              "name": "status",
              "value": "={{ $json.status }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        608,
        -80
      ],
      "id": "f39be3c6-ce84-47fd-87da-9f8daec0088a",
      "name": "Firebase: Save Ticket"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ 'https://YOUR-FIREBASE-PROJECT.europe-west1.firebasedatabase.app/daily_limits/' + $now.toFormat('yyyy-MM-dd') + '.json' }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "auth",
              "value": "YOUR_FIREBASE_AUTH_TOKEN"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"count\": {{ ($('Firebase: Check Limit').item.json.count || 0) + 1 }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        832,
        -80
      ],
      "id": "07308e05-8389-4608-aaac-b40543d2affd",
      "name": "Firebase: Counter +1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        96,
        240
      ],
      "id": "ddac1839-3a44-46ce-a1fc-e0b8dafcf3af",
      "name": "Limit Reached (Send Email)"
    }
  ],
  "pinData": {},
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Firebase: Check Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firebase: Check Limit": {
      "main": [
        [
          {
            "node": "Limit < 10?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit < 10?": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Limit Reached (Send Email)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Format Ticket Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format Ticket Data": {
      "main": [
        [
          {
            "node": "Firebase: Save Ticket",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Firebase: Save Ticket": {
      "main": [
        [
          {
            "node": "Firebase: Counter +1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "8c5bdbdb-66b0-406e-8230-e85128e500fc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "YOUR_INSTANCE_ID"
  },
  "id": "tWJT2VoiaxOF0TFb",
  "tags": []
}
